<header>
  <a href=/><img class=logo src=logo.png alt=Logotype></a>
  <h1>{{name}}</h1>
  <p class=catchphrase>{{catchphrase}}</p>
  <img title=USA alt=USA src=usa.svg class=flag>
  <img title=Canada alt=Canada src=canada.svg class=flag>
  <img title=UK alt=UK src=uk.svg class=flag>
  <!--<img title=India alt=India src=india.svg class=flag>-->
  <img title=Australia alt=Australia src=australia.svg class=flag>
  <!--<img title=Israel alt=Israel src=israel.svg class=flag>-->
  <!--<img title="Hong Kong" alt="Hong Kon" src=hongkong.svg class=flag>-->
  <!--<img title=Singapore alt=Singapore src=singapore.svg class=flag>-->
  <!--<img title="New Zealand" alt="New Zealand" src=newzealand.svg class=flag>-->
  <!--<img title=Nauru alt=Nauru src=nauru.svg class=flag>-->
</header>
