<header role=banner>
  <a href=/><img class=logo src=logo.png alt=Logotype></a>
  <h1>{{name}}</h1>
  <p class=catchphrase>{{catchphrase}}</p>
  <img title=USA alt=USA src=flags/usa.svg class=flag>
  <img title=Canada alt=Canada src=flags/canada.svg class=flag>
  <img title=UK alt=UK src=flags/uk.svg class=flag>
  <!--<img title=India alt=India src=flags/india.svg class=flag>-->
  <img title=Australia alt=Australia src=flags/australia.svg class=flag>
  <!--<img title=Israel alt=Israel src=flags/israel.svg class=flag>-->
  <!--<img title="Hong Kong" alt="Hong Kon" src=flags/hongkong.svg class=flag>-->
  <!--<img title=Singapore alt=Singapore src=flags/singapore.svg class=flag>-->
  <!--<img title="New Zealand" alt="New Zealand" src=flags/newzealand.svg class=flag>-->
  <!--<img title=Nauru alt=Nauru src=flags/nauru.svg class=flag>-->
</header>
