html {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 125%;
  hyphens: auto;
  line-height: 1.4;
  text-align: justify;
}

body > header, body > main, body > footer {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 30rem;
}

body > main {
}

body > footer {
  margin-top: 3.5rem;
  border-top: 1px dashed black;
  padding: 0 0 5rem 0;
  text-align: right;
  font-size: 85%;
}

.page {
  margin-top: 1rem;
  max-width: 10rem;
}

body > header {
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  text-align: left;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.catchphrase, .award {
  font-style: italic;
  margin-top: 0;
}

.catchphrase {
  margin-bottom: 0.5rem;
}

.conspicuous {
  font-style: italic;
  font-weight: bold;
}

section {
  margin-top: 3rem;
}

h2 {
  font-size: 150%;
  margin-top: 2rem;
}

h3 {
  font-size: 100%;
  margin-top: 2rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.blank {
  border-bottom: 1px dashed #666;
  color: #666;
}

h1 small {
  font-size: 50%;
  display: block;
}

a.special[href]:before {
  content: '☞';
}

header h1 {
  font-size: 250%;
}

.logo {
  max-width: 10rem;
  padding: 2rem 0 0.75rem 0;
}

li {
  margin: 1rem 0;
}

.nextversion {
  background-color: #d4edda;
  border-radius: 0.5rem;
  color: #155724;
  padding: 0.8rem;
}

.jurisdictions {
  width: 100%;
}

.jurisdictions tr th {
  padding-right: 1rem;
  text-align: right;
  width: 50%;
}

.jurisdictions tr td {
  padding-right: 1rem;
  text-align: left;
  width: 50%;
}

.twoColumn {
  column-count: 2;
  padding-left: 1rem;
}

.twoColumn li {
  margin-top: 0;
}

.flag {
  margin: 0 1rem;
  width: 2rem;
  user-select: none;
}
