html {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 125%;
  hyphens: auto;
  line-height: 1.4;
  text-align: justify;
}

body > header, body > main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 30rem;
}

body > main {
  padding-bottom: 5rem;
}

.page {
  margin-top: 1rem;
  max-width: 10rem;
}

body > header {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.catchphrase, .award {
  font-style: italic;
  margin-top: 0;
}

.catchphrase {
  margin-bottom: 0.5rem;
}

.conspicuous {
  font-style: italic;
  font-weight: bold;
}

section {
  margin-top: 3rem;
}

h2 {
  font-size: 150%;
  margin-top: 2rem;
}

h3 {
  font-size: 100%;
  margin-top: 2rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.blank {
  border-bottom: 1px dashed #666;
  color: #666;
}

h1 small {
  font-size: 50%;
  display: block;
}

a.special[href]:before {
  content: '☞';
}

header h1 {
  font-size: 250%;
}

.logo {
  max-width: 12rem;
}

li {
  margin: 1rem 0;
}
